{"openapi":"3.1.0","info":{"title":"VaultSage - Public API","version":"0.1.0","description":"## Authentication (API keys)\n\nMost endpoints that require a logged-in user accept **one** of:\n\n- **OAuth2** bearer access token (`Authorization: Bearer ...`), or\n- **Personal API key** header: `X-Api-Key`\n- **Team API key** header: `X-Team-Api-Key`\n\nDo **not** send `X-Api-Key` and `X-Team-Api-Key` in the same request.\n\nSome paths are blocked for API keys (allowlist). Runtime errors may include\n`API_KEY_ENDPOINT_FORBIDDEN` (403) or `API_KEY_HEADER_CONFLICT` (422)."},"servers":[{"url":"https://api.vaultsage.ai","description":"Current Environment (production)"}],"paths":{"/api/v1/login/access-token":{"post":{"tags":["login"],"summary":"Login Access Token","description":"Login endpoint.","operationId":"login-login_access_token","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_login-login_access_token"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/login/mobile-access-token":{"post":{"tags":["login"],"summary":"Login Mobile Access Token","operationId":"login-login_mobile_access_token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/refresh":{"post":{"tags":["login"],"summary":"Refresh Access Token","operationId":"login-refresh_access_token","requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/RefreshTokenRequest"},{"type":"null"}],"title":"Refresh Request"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Token"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["login"],"summary":"Logout","operationId":"login-logout","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/password-recovery/{email}":{"post":{"tags":["login"],"summary":"Recover Password","description":"Password Recovery","operationId":"login-recover_password","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string","title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/oauth/clients":{"get":{"tags":["oauth"],"summary":"List Clients","operationId":"oauth-list_clients","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientListResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]},"post":{"tags":["oauth"],"summary":"Create Client","operationId":"oauth-create_client","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientCreateRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPublic"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/oauth/clients/{client_id}":{"get":{"tags":["oauth"],"summary":"Get Client","operationId":"oauth-get_client","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPublic"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["oauth"],"summary":"Update Client","operationId":"oauth-update_client","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","title":"Client Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthClientPublic"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/oauth/authorize":{"get":{"tags":["oauth"],"summary":"Preview Authorize","operationId":"oauth-preview_authorize","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"response_type","in":"query","required":true,"schema":{"type":"string","title":"Response Type"}},{"name":"client_id","in":"query","required":true,"schema":{"type":"string","title":"Client Id"}},{"name":"redirect_uri","in":"query","required":true,"schema":{"type":"string","title":"Redirect Uri"}},{"name":"scope","in":"query","required":true,"schema":{"type":"string","title":"Scope"}},{"name":"state","in":"query","required":false,"schema":{"type":"string","default":"","title":"State"}},{"name":"code_challenge","in":"query","required":false,"schema":{"type":"string","default":"","title":"Code Challenge"}},{"name":"code_challenge_method","in":"query","required":false,"schema":{"type":"string","default":"","title":"Code Challenge Method"}},{"name":"nonce","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Nonce"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthAuthorizePreview"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["oauth"],"summary":"Authorize","operationId":"oauth-authorize","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_oauth-authorize"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/oauth/token":{"post":{"tags":["oauth"],"summary":"Exchange Token","operationId":"oauth-exchange_token","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_oauth-exchange_token"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthTokenResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/oauth/userinfo":{"get":{"tags":["oauth"],"summary":"Get Userinfo","operationId":"oauth-get_userinfo","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthUserinfoResponse"}}}}}}},"/api/v1/users/me":{"get":{"tags":["users"],"summary":"Read User Me","description":"Get current user.","operationId":"users-read_user_me","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPublic"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/users/me/password":{"patch":{"tags":["users"],"summary":"Update Password Me","description":"Update own password.","operationId":"users-update_password_me","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePassword"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/users/me/app-account-token":{"get":{"tags":["users"],"summary":"Get My App Account Token","description":"Return user's UUID v4 as iOS app_account_token.\nAPI casing policy: snake_case for all JSON fields across the API.","operationId":"users-get_my_app_account_token","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAccountTokenResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/users/signup":{"post":{"tags":["users"],"summary":"Register User","description":"Create new user.","operationId":"users-register_user","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRegister"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPublic"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/verify-email":{"get":{"tags":["users"],"summary":"Verify Email","description":"Verify user email address via token from verification email.","operationId":"users-verify_email","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string","title":"Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Users-Verify Email"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/resend-verification-by-email":{"post":{"tags":["users"],"summary":"Resend Verification By Email","description":"Resend email verification email by email address (unauthenticated).","operationId":"users-resend_verification_by_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResendVerificationByEmailRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/me/vip-tier":{"get":{"tags":["users"],"summary":"Get My Unified Vip Tier","description":"Get user's current tier, features, and subscription information.","operationId":"users-get_my_unified_vip_tier","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserVipTierResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/users/me/active-subscriptions":{"get":{"tags":["users"],"summary":"Get My Active Subscriptions","description":"Get user's direct subscriptions.","operationId":"users-get_my_active_subscriptions","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSubscriptionStatusResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/users/me/activity-log":{"get":{"tags":["users"],"summary":"Get personal activity log","description":"Get activity logs related to the current user.\n\nThis includes activities where the user was either the actor or the target,\nsuch as team invitations received, role changes, file operations, etc.\n\n**Pagination:**\n- `page`: Page number (1-indexed, default: 1)\n- `page_size`: Items per page (1-100, default: 20)\n\n**Filtering:**\n- `activity_type`: Filter by activity type category (optional)\n  - `invite` - All invitation-related activities\n  - `member` - Member management (enable/disable/remove/leave)\n  - `role` - Role changes and ownership transfer\n  - `file` - File operations (upload/delete/move/rename/copy)\n  - `folder` - Folder operations (create/delete/rename/move)\n  - `auth` - Authentication events (signup/login)\n- `date_from`: Filter activities from this date (ISO format, optional)\n- `date_to`: Filter activities until this date (ISO format, optional)\n\n**Activity Types:**\n\n*Team Management:*\n- `team.invite_accept` - You accepted a team invitation\n- `team.invite_decline` - You declined a team invitation\n- `team.member_leave` - You left a team\n- `team.role_change` - Your role was changed\n- Other team events where you were involved\n\n*File Operations:*\n- `file.upload` - You uploaded a file\n- `file.delete` - You deleted a file\n- `file.move` - You moved a file\n- `file.rename` - You renamed a file\n- `file.copy` - You copied a file to Personal Space\n\n*Folder Operations:*\n- `folder.create` - You created a folder\n- `folder.delete` - You deleted a folder\n- `folder.rename` - You renamed a folder\n- `folder.move` - You moved a folder\n\n*Authentication:*\n- `user.signup` - You created your account\n- `user.login` - You signed in\n\nNote: This returns activities where you are the target (e.g., invitation received)\nor the actor (e.g., uploading files). For full team activity logs, use\n`GET /team/activity-log` (requires admin role).","operationId":"users-get_my_activity_log","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Page Size"}},{"name":"activity_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Activity Type"}},{"name":"date_from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Date From"}},{"name":"date_to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Date To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/users/me/api-keys":{"get":{"tags":["users"],"summary":"List Personal Api Keys","operationId":"users-list_personal_api_keys","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyListResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"TeamApiKey":[]}]},"post":{"tags":["users"],"summary":"Create Personal Api Key","operationId":"users-create_personal_api_key","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"TeamApiKey":[]}]}},"/api/v1/users/me/api-keys/{key_id}":{"delete":{"tags":["users"],"summary":"Delete Personal Api Key","operationId":"users-delete_personal_api_key","security":[{"OAuth2PasswordBearer":[]},{"TeamApiKey":[]}],"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Response Users-Delete Personal Api Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/stream-preview":{"get":{"tags":["files"],"summary":"Stream Preview","description":"Stream file content for preview.\nSupports both personal files and team files.\n\n**Improved Features:**\n- **Streaming**: Downloads file in 1MB chunks to reduce server memory usage.\n- **Standard Headers**: Includes Content-Length, ETag, and Last-Modified for better client-side file handling.\n- **Authentication**: Requires a valid user token.\n- **Lazy Backfill**: Automatically populates missing `checksum` and `file_size` in the background.","operationId":"files-stream_preview","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"query","required":true,"schema":{"type":"string","title":"File Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Files-Stream Preview"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/png-preview-check/{file_id}":{"get":{"tags":["files"],"summary":"Check Png Preview Availability","description":"Check PNG ZIP availability without downloading.\nSupports both personal files and team files.\n\nThis endpoint checks if a PNG ZIP file exists for the given file ID.\nUse /png-preview-download/{file_id} to actually download the ZIP.","operationId":"files-check_png_preview_availability","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PngPreviewResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/png-preview-download/{file_id}":{"get":{"tags":["files"],"summary":"Download Png Preview","description":"Download PNG ZIP file for preview.\nSupports both personal files and team files.\n\nThis endpoint streams the PNG ZIP file directly from GCS private bucket.\nFrontend will receive the ZIP file and extract PNGs client-side.","operationId":"files-download_png_preview","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Files-Download Png Preview"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/png-preview-reprocess/{file_id}":{"post":{"tags":["files"],"summary":"Reprocess Png Preview","description":"Trigger PNG preview reprocessing for a file.","operationId":"files-reprocess_png_preview","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PngPreviewReprocessResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/png-preview-check-anonymous":{"get":{"tags":["files"],"summary":"Check Png Preview Availability Anonymous","description":"Check PNG ZIP availability for anonymous users via share link.\n\nThis endpoint mirrors /png-preview-check/{file_id}, but authorizes access using\nshare_code (+ optional password/email) instead of a logged-in user session.","operationId":"files-check_png_preview_availability_anonymous","parameters":[{"name":"share_code","in":"query","required":true,"schema":{"type":"string","title":"Share Code"}},{"name":"file_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"File Id"}},{"name":"password","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"}},{"name":"email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PngPreviewResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/png-preview-download-anonymous":{"get":{"tags":["files"],"summary":"Download Png Preview Anonymous","description":"Download PNG ZIP for anonymous users via share link.\n\nNote: This is a PREVIEW download. The allow_download flag is enforced by /api/v1/share/download.","operationId":"files-download_png_preview_anonymous","parameters":[{"name":"share_code","in":"query","required":true,"schema":{"type":"string","title":"Share Code"}},{"name":"file_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"File Id"}},{"name":"password","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"}},{"name":"email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Files-Download Png Preview Anonymous"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/stream-preview-anonymous":{"get":{"tags":["files"],"summary":"Stream Preview Anonymous","description":"Stream file preview for anonymous users via share link.\n\nThis endpoint allows anonymous users to preview files that have been shared with them.\nIf file_id is provided, it validates that the file is included in the share.\nIf file_id is not provided, it returns the first file in the share.\n\nNow supports email verification for enhanced security (backward compatible).","operationId":"files-stream_preview_anonymous","parameters":[{"name":"share_code","in":"query","required":true,"schema":{"type":"string","title":"Share Code"}},{"name":"file_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"File Id"}},{"name":"password","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"}},{"name":"email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Files-Stream Preview Anonymous"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/search":{"get":{"tags":["files"],"summary":"Search","description":"Search files and directories with Team Folder support, filtering, and sorting.\n\nSearches both personal files and files in Team Folders that the user has access to.\n\n**Search Scope:**\n- Personal files owned by the user\n- Team files in any team the user is an enabled member of\n\n**Search Fields:**\n- File name (case-insensitive)\n- File body content (full-text search)\n- Directory name (case-insensitive)\n\n**Enhanced Metadata:**\n- Each file in the result includes `file_size`, `mime_type`, and `checksum` (MD5).\n\n**Filtering:**\n- **File Type**: Filter by file category (PDF, Image, Video, Doc, Sheets, Slides, Folder)\n- **Time Range**: Filter by creation/update time (any_time, last_7_days, last_30_days)\n- **Sharing**: Filter by sharing status (shared, not_shared)\n\n**Sorting:**\n- **Sort By**: name, size, last_modified\n- **Sort Direction**: asc (ascending), desc (descending, default)","operationId":"files-search","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string","title":"Keyword"}},{"name":"fields","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fields"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"filter_file_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by file type (PDF, Image, Video, Doc, Sheets, Slides, Folder)","title":"Filter File Type"},"description":"Filter by file type (PDF, Image, Video, Doc, Sheets, Slides, Folder)"},{"name":"filter_time_range","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by time range (any_time, last_7_days, last_30_days)","title":"Filter Time Range"},"description":"Filter by time range (any_time, last_7_days, last_30_days)"},{"name":"filter_sharing","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by sharing status (shared, not_shared)","title":"Filter Sharing"},"description":"Filter by sharing status (shared, not_shared)"},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Sort field (name, size, last_modified)","title":"Sort By"},"description":"Sort field (name, size, last_modified)"},{"name":"sort_direction","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Sort direction (asc, desc)","default":"desc","title":"Sort Direction"},"description":"Sort direction (asc, desc)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileSearchResults"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/in-progress":{"get":{"tags":["files"],"summary":"Get In Progress Files","operationId":"files-get_in_progress_files","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/GetInProgressFileResult"},"type":"array","title":"Response Files-Get In Progress Files"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/find":{"get":{"tags":["files"],"summary":"Find","operationId":"files-find","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string","title":"Keyword"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindFileDirectoryResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/regenerate-snapshots":{"post":{"tags":["files"],"summary":"Regenerate Snapshots","description":"Scan the database for active files belonging to the current user and regenerate their snapshots.\n\nThis endpoint will:\n1. Find all active files (where status != \"deleted\") belonging to the current user\n2. Create a task for each file to regenerate its snapshot\n\nReturns information about the total number of files processed and tasks enqueued.","operationId":"files-regenerate_snapshots","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegenerateSnapshotsResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/":{"get":{"tags":["files"],"summary":"Read Items","description":"List files.","operationId":"files-read_items","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"directory_id","in":"query","required":false,"schema":{"type":"string","format":"uuid","title":"Directory Id"}},{"name":"file_ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"File Ids"}},{"name":"fields","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fields"}},{"name":"exclude","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Exclude"}},{"name":"filter_file_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by file type (PDF, Image, Video, Doc, Sheets, Slides, Folder)","title":"Filter File Type"},"description":"Filter by file type (PDF, Image, Video, Doc, Sheets, Slides, Folder)"},{"name":"filter_time_range","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by time range (any_time, last_7_days, last_30_days)","title":"Filter Time Range"},"description":"Filter by time range (any_time, last_7_days, last_30_days)"},{"name":"filter_sharing","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by sharing status (shared, not_shared)","title":"Filter Sharing"},"description":"Filter by sharing status (shared, not_shared)"},{"name":"sort_by","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Sort field (name, size, last_modified)","title":"Sort By"},"description":"Sort field (name, size, last_modified)"},{"name":"sort_direction","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Sort direction (asc, desc)","default":"desc","title":"Sort Direction"},"description":"Sort direction (asc, desc)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListFiles"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["files"],"summary":"Upload files","description":"Uploads files with conflict resolution support.","operationId":"files-upload_file","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"conflict_resolution","in":"query","required":false,"schema":{"type":"string","default":"keep","title":"Conflict Resolution"}},{"name":"directory_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Directory Id"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_files-upload_file"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadSuccess"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/gdrive":{"post":{"tags":["files"],"summary":"Import From Gdrive","description":"Import files from Google Drive.","operationId":"files-import_from_gdrive","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"user_token","in":"query","required":true,"schema":{"type":"string","title":"User Token"}},{"name":"directory_id","in":"query","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Directory Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GDriveData"},"title":"Data"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Files-Import From Gdrive"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/download":{"post":{"tags":["files"],"summary":"Download one or multiple files","description":"Downloads selected files. Returns file content directly for single file or a zip archive for multiple files.","operationId":"files-download_files","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDownloadRequest"}}},"required":true},"responses":{"200":{"description":"File content or zip file containing multiple files","content":{"application/json":{"schema":{"title":"Response Files-Download Files"}},"application/zip":{},"application/octet-stream":{}}},"404":{"description":"One or more requested files not found","content":{"application/json":{"example":{"detail":"One or more files not found"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/delete":{"post":{"tags":["files"],"summary":"Delete one or multiple files","description":"Deletes selected files. Updates database records with 'deleted' status and removes objects from GCS. **Team Folder Support:** For team files, owner/admin or file uploader can delete. Team must not be archived. **Permission Roles:** Owner/Admin can delete any file; File uploader can delete files they uploaded; Members cannot delete files uploaded by others.","operationId":"files-delete_files","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Files deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDeleteResponse"},"example":{"deleted_count":2,"success":true,"message":"Files deleted successfully"}}}},"403":{"description":"No permission to delete team files","content":{"application/json":{"example":{"detail":"Only team owner/admin or file uploader can delete team files"}}}},"404":{"description":"One or more requested files not found","content":{"application/json":{"example":{"detail":"One or more files not found"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/processing-status":{"post":{"tags":["files"],"summary":"Check file processing status","description":"Returns the processing status for a list of files. Currently supports snapshot task status. Designed with future extensibility in mind for additional processing tasks.","operationId":"files-get_file_processing_status","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileProcessingStatusRequest"}}},"required":true},"responses":{"200":{"description":"Processing status retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileProcessingStatusResponse"},"example":{"result":[{"file_id":"123e4567-e89b-12d3-a456-426614174000","task_snapshot_status":"completed","task_summary_status":"completed"},{"file_id":"123e4567-e89b-12d3-a456-426614174001","task_snapshot_status":"pending","task_summary_status":"pending"}]}}}},"404":{"description":"One or more requested files not found","content":{"application/json":{"example":{"detail":"One or more files not found"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/{file_id}":{"put":{"tags":["files"],"summary":"Update File Name","description":"Update a file name (rename).\n\nIf the new name would create a duplicate in the same directory,\nreturns a 500 error.","operationId":"files-update_file_name","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"File Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFile"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/{file_id}/move":{"patch":{"tags":["files"],"summary":"Move File","description":"Move a file to a different directory with Team Folder support.\n\nThis updates the database records by changing the primary FileDirectoryMapping.\nFor Personal → Team moves, also updates file ownership and moves the GCS object.\n\n**Team Folder Rules:**\n- Team → Team (internal): Admin or Owner (uploaded_by) can move\n- Team → Personal: FORBIDDEN (cannot move files out of Team Folder)\n- Personal → Team: All enabled members can move personal files into Team Folder\n- Personal → Personal: Owner can move\n\n**Team File Permission Roles:**\n- Admin: Can move ANY file within Team Folder\n- Owner (uploaded_by): Can move files they uploaded\n- Member: Cannot move files uploaded by others\n\n**Access Control:**\n- Moving personal files: Owner only\n- Moving team files: Admin or file owner (uploaded_by)\n\n**Error Codes:**\n- 404: File or target directory not found\n- 403: Insufficient permissions\n- 400: Invalid move operation (same directory, Team→Personal, etc.)\n- 500: Duplicate file name in target directory or GCS failure","operationId":"files-move_file","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"File Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMove"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFile"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/files/reprocess":{"post":{"tags":["files"],"summary":"Manually reprocess files","description":"Manually trigger reprocessing of files with intelligent retry capabilities. Supports different modes: full reprocessing, intelligent retry (skip completed stages), or specific stage retry. Useful for fixing failed processing or upgrading to newer processing versions.","operationId":"files-reprocess_files","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileReprocessingRequest"}}},"required":true},"responses":{"200":{"description":"Reprocessing request processed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileReprocessingResponse"},"example":{"success":true,"message":"Reprocessing initiated for 2 out of 3 files","total_files":3,"queued_count":2,"skipped_count":1,"failed_count":0,"results":[{"file_id":"123e4567-e89b-12d3-a456-426614174000","file_name":"document.pdf","status":"queued","job_id":"arq:job:abc123","message":"File queued for intelligent retry processing","current_progress":45.0,"failed_stages":["long_summary_generation"],"processing_engine":"document","conversion_status":"completed"}],"estimated_completion_time":"2024-01-01T12:05:00Z"}}}},"400":{"description":"Invalid request parameters","content":{"application/json":{"example":{"detail":"Invalid processing mode or file IDs"}}}},"404":{"description":"One or more files not found","content":{"application/json":{"example":{"detail":"Files not found or access denied"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/files/file-configuration":{"get":{"tags":["files"],"summary":"Get complete file configuration","description":"Returns complete file configuration including upload support, rendering capabilities, and preview information. This is the unified API for all file-related frontend configuration.","operationId":"files-get_file_configuration","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileConfigurationResponse"}}}}}}},"/api/v1/directories/":{"get":{"tags":["directories"],"summary":"List Directories","description":"List directories.","operationId":"directories-list_directories","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"parent_id","in":"query","required":false,"schema":{"type":"string","format":"uuid","title":"Parent Id"}},{"name":"include_breadcrumbs","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Breadcrumbs"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListDirectories"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["directories"],"summary":"Create Directory","description":"Create a new directory.","operationId":"directories-create_directory","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/directories/{directory_id}":{"put":{"tags":["directories"],"summary":"Update Directory","description":"Update a directory (rename).","operationId":"directories-update_directory","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"directory_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Directory Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/directories/{directory_id}/move":{"patch":{"tags":["directories"],"summary":"Move Directory","description":"Move a directory to a different parent directory.","operationId":"directories-move_directory","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"directory_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Directory Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryMove"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/directories/delete":{"post":{"tags":["directories"],"summary":"Delete Directories","description":"Delete one or multiple directories.","operationId":"directories-delete_directories","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DirectoryDeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/directories/add-files":{"post":{"tags":["directories"],"summary":"Add Files To Directory","description":"Add files to a directory.\n\nIf is_primary is True, any existing primary mappings for these files will be updated to is_primary=False.","operationId":"directories-add_files_to_directory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileDirectoryMappingCreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Response Directories-Add Files To Directory"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/directories/remove-file/{mapping_id}":{"delete":{"tags":["directories"],"summary":"Remove File From Directory","description":"Remove a file from a directory by deleting the mapping.","operationId":"directories-remove_file_from_directory","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"mapping_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Mapping Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Directories-Remove File From Directory"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/public":{"post":{"tags":["chat"],"summary":"Chat Public","description":"Public chat endpoint for shared conversations","operationId":"chat-chat_public","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicChatRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicChatResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/public/history":{"get":{"tags":["chat"],"summary":"Get Public Chat History","description":"Get public chat history","operationId":"chat-get_public_chat_history","parameters":[{"name":"conversation_id","in":"query","required":true,"schema":{"type":"string","title":"Conversation Id"}},{"name":"share_code","in":"query","required":true,"schema":{"type":"string","title":"Share Code"}},{"name":"session_id","in":"query","required":true,"schema":{"type":"string","title":"Session Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicChatHistoryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/public/conversations":{"get":{"tags":["chat"],"summary":"Get Public Conversations","description":"Get public conversation list","operationId":"chat-get_public_conversations","parameters":[{"name":"share_code","in":"query","required":true,"schema":{"type":"string","title":"Share Code"}},{"name":"user_identifier","in":"query","required":false,"schema":{"type":"string","title":"User Identifier"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicChatHistoryListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/message/v2":{"post":{"tags":["chat"],"summary":"Chatv2","description":"Unified chat endpoint that routes to OpenAI or Gemini based on configuration.","operationId":"chat-chatV2","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatV2"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatV2Result"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["chat"],"summary":"Get Chat Messages","description":"Get messages for a specific chat","operationId":"chat-get_chat_messages","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"chat_id","in":"query","required":true,"schema":{"type":"string","title":"Chat Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GetChatMessageV2"},"title":"Response Chat-Get Chat Messages"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/":{"get":{"tags":["chat"],"summary":"Get Chats","description":"Get user's chat list with associated files","operationId":"chat-get_chats","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/GetChatV2"},"type":"array","title":"Response Chat-Get Chats"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]},"post":{"tags":["chat"],"summary":"Save","description":"Save a chat conversation","operationId":"chat-save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveChatV2"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Chat-Save"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/chat/{chat_id}":{"put":{"tags":["chat"],"summary":"Update Chat","description":"Update a chat","operationId":"chat-update_chat","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChatRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChatV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["chat"],"summary":"Delete Chat","description":"Delete a chat and its messages","operationId":"chat-delete_chat","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteChatResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/chat/{chat_id}/files":{"patch":{"tags":["chat"],"summary":"Update Chat Files","description":"Update chat file associations\n\nArgs:\n    chat_id: Chat UUID\n    request: File IDs to associate\n    session: Database session\n    current_user: Authenticated user\n    \nReturns:\n    Updated chat information with file list\n    \nRaises:\n    HTTPException: \n        - 404: Chat not found or access denied\n        - 403: One or more files belong to another user (permission denied)\n        - 422: One or more files don't exist, are deleted, or unavailable","operationId":"chat-update_chat_files","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"chat_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateChatFilesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetChatV2"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/":{"get":{"tags":["share"],"summary":"Get Shared Files","operationId":"share-get_shared_files","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","title":"Code"}},{"name":"password","in":"query","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Password"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetShareFilesResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["share"],"summary":"Share","description":"Create a share link for files and/or directories.","operationId":"share-share","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShareFiles"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","title":"Response Share-Share"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/check":{"get":{"tags":["share"],"summary":"Is Sharing Protected","operationId":"share-is_sharing_protected","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","title":"Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"boolean","title":"Response Share-Is Sharing Protected"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/download":{"post":{"tags":["share"],"summary":"Download","description":"Download shared files via share link.","operationId":"share-download","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadShareFiles"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Share-Download"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/user-shares":{"get":{"tags":["share"],"summary":"Get User Shares","description":"Get all share links created by the current user.","operationId":"share-get_user_shares","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":10,"title":"Page Size"}},{"name":"is_expired","in":"query","required":false,"schema":{"type":"boolean","title":"Is Expired"}},{"name":"is_deleted","in":"query","required":false,"schema":{"type":"boolean","title":"Is Deleted"}},{"name":"order_by","in":"query","required":false,"schema":{"type":"string","pattern":"^(created_at|expire_at|planned_expiration)$","default":"created_at","title":"Order By"}},{"name":"order_direction","in":"query","required":false,"schema":{"type":"string","pattern":"^(asc|desc)$","default":"desc","title":"Order Direction"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserSharesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/soft-delete":{"post":{"tags":["share"],"summary":"Soft Delete Share","description":"Soft delete a share\n\nMark the share as deleted and set the expiration time to the current time","operationId":"share-soft_delete_share","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SoftDeleteShareRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Share-Soft Delete Share"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/share/send-email":{"post":{"tags":["share"],"summary":"Send Share Email","description":"Send share link emails to recipients.","operationId":"share-send_share_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendShareEmailRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendShareEmailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/share/generate-preview-email":{"post":{"tags":["share"],"summary":"Generate Preview Email","description":"Generate personalized email previews.","operationId":"share-generate_preview_email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneratePreviewEmailRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeneratePreviewEmailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/share/preview/{job_id}/status":{"get":{"tags":["share"],"summary":"Get Preview Status","description":"Get status of preview generation job","operationId":"share-get_preview_status","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/preview/{job_id}/content":{"get":{"tags":["share"],"summary":"Get Preview Content","description":"Get generated preview content for a specific recipient","operationId":"share-get_preview_content","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"job_id","in":"path","required":true,"schema":{"type":"string","title":"Job Id"}},{"name":"email","in":"query","required":true,"schema":{"type":"string","title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PreviewContentResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/check-requirements/{code}":{"get":{"tags":["share"],"summary":"Get Share Requirements","description":"Get access requirements for a share link.","operationId":"share-get_share_requirements","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","title":"Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareRequirementsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/access":{"post":{"tags":["share"],"summary":"Access Shared Files","description":"Unified share file access verification with backward compatibility","operationId":"share-access_shared_files","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAccessRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetShareFilesResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/access-logs/{share_id}":{"get":{"tags":["share"],"summary":"Get Share Access Logs","description":"Get access logs for a specific share.\n\n**Modification History**:\n- **Tue Aug 19 21:00:17 CST 2025**: New API endpoint created\n  - Implemented SharedFileAccess tracking retrieval system\n  - Added pagination support for access logs\n  - Integrated owner-only access control\n- **Tue Jan 21 16:30:00 CST 2025**: Enhanced API documentation\n  - Added guidance on obtaining share IDs via /api/v1/share/user-shares endpoint\n\n**Access Control**:\n- Only the owner of the share can view access logs\n- Requires authentication\n\n**Getting Share IDs**:\n- To obtain available share IDs, use the `/api/v1/share/user-shares` endpoint\n- This endpoint returns all shares created by the authenticated user\n- Each share object contains the `id` field which can be used as the `share_id` parameter\n\n**Tracked Activities**:\n- `view`: When recipients verify share access permissions\n- `download`: When recipients download files (with email tracking)\n\n**Response Data**:\n- Accessor email and timestamp\n- IP address and user agent information\n- Access type and specific file IDs accessed\n- Session information and share code used\n\n**Pagination**: Supports page-based pagination (default: 10 items per page)\n\n**Error Handling**:\n- **404 Not Found**: Share not found. Possible reasons include:\n  - The user does not have access to the specified share ID\n  - The JWT token is invalid or expired\n  - The share has been deleted or does not exist\n- **401 Unauthorized**: Authentication required - valid JWT token must be provided\n\n**Important Notes**:\n- **Pagination Handling**: Large number of records require using pagination functionality\n- **Permission Check**: Only share owners can view access records\n- **Time Sorting**: Records are sorted by access time in descending order (newest first)\n- **Data Retention**: Record retention period should be determined according to privacy policy\n- **Security Monitoring**: Use for detecting unusual IP addresses or frequent access patterns\n- **Compliance Reporting**: Suitable for generating access reports for audit purposes","operationId":"share-get_share_access_logs","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"share_id","in":"path","required":true,"schema":{"type":"string","title":"Share Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Page size","default":10,"title":"Page Size"},"description":"Page size"}],"responses":{"200":{"description":"Successfully retrieved access logs for the share","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSharedFileAccessResponse"},"example":{"items":[{"id":"123e4567-e89b-12d3-a456-426614174000","shared_file_id":"456e7890-e89b-12d3-a456-426614174001","accessor_email":"user@example.com","access_type":"view","accessed_at":"2024-01-01T12:00:00Z","ip_address":"192.168.1.1","user_agent":"Mozilla/5.0...","file_id":"789e0123-e89b-12d3-a456-426614174002","session_info":{"browser":"Chrome"}}],"total":1,"page":1,"page_size":10}}}},"404":{"description":"Share not found","content":{"application/json":{"example":{"detail":"Share not found. Possible reasons: the user does not have access to this share ID, or the JWT token is invalid/expired."}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"detail":"Not authenticated"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/share/access-logs":{"delete":{"tags":["share"],"summary":"Delete Share Access Logs","description":"Delete specific access log records.\n\n**Modification History**:\n- **Tue Aug 19 21:00:17 CST 2025**: New API endpoint created\n  - Implemented bulk deletion of SharedFileAccess records\n  - Added ownership validation for security\n  - Integrated privacy compliance support (GDPR)\n\n**Access Control**:\n- Only the owner of the share can delete access logs\n- Requires authentication\n- Validates ownership before deletion\n\n**Use Cases**:\n- Data cleanup and maintenance\n- Privacy compliance (GDPR, etc.)\n- Remove test or accidental access records\n\n**Request Format**:\n```json\n{\n    \"access_ids\": [\"uuid1\", \"uuid2\", \"uuid3\"]\n}\n```\n\n**Response**: Returns count of successfully deleted records\n\n**Important Notes**:\n- **Bulk Operation**: Can delete multiple access records in a single request\n- **Irreversible Action**: Deleted records cannot be recovered\n- **Ownership Validation**: System validates that all specified records belong to shares owned by the requesting user\n- **Privacy Compliance**: Use for GDPR right to erasure or data retention policy compliance\n- **Audit Trail**: Consider logging deletion actions for compliance purposes\n- **Empty Request Handling**: Returns error if access_ids array is empty","operationId":"share-delete_share_access_logs","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedFileAccessDeleteRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharedFileAccessDeleteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/smart-upload/":{"post":{"tags":["smart-upload"],"summary":"Smart Upload","description":"Smart upload files with AI-driven folder organization.","operationId":"smart-upload-smart_upload","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_smart-upload-smart_upload"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Smart-Upload-Smart Upload"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/smart-upload/check":{"post":{"tags":["smart-upload"],"summary":"Smart Check","description":"Check and suggest optimal folder placement for a list of files.","operationId":"smart-upload-smart_check","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"prompt_message","in":"query","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Prompt Message"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"title":"File Names"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartUploadCheckResult"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/dashboard/":{"get":{"tags":["dashboard"],"summary":"Get Dashboard Metrics","description":"Get comprehensive dashboard metrics for the current user.\n\nIncludes storage usage, file counts by type, shared link counts, \nand recent activity.","operationId":"dashboard-get_dashboard_metrics","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardResult"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/plans/subscription-tiers":{"get":{"tags":["plans"],"summary":"Get Subscription Tiers","description":"Get all available subscription plans with platform-agnostic information.","operationId":"plans-get_subscription_tiers","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnifiedVipTiersResponse"}}}}}}},"/api/v1/team":{"get":{"tags":["team"],"summary":"Get team information","description":"Get team information including seat usage and subscription status.","operationId":"team-get_team","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/team/members":{"get":{"tags":["team"],"summary":"Get team members list","description":"Get all team members with their status and details.","operationId":"team-get_team_members","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMembersResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["team"],"summary":"Invite members to team","description":"Invite one or more members to the team. Admin only. Requires active subscription.","operationId":"team-invite_members","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamInviteRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamInviteResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/team/members/{member_id}":{"patch":{"tags":["team"],"summary":"Update member status","description":"Enable or disable a team member. Admin only. Requires active subscription.","operationId":"team-update_member_status","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["team"],"summary":"Remove member from team","description":"Permanently remove a member from the team. Admin only. Requires active subscription.\n\n**Note**: Frontend UI visibility controlled by `SHOW_TEAM_LEAVE_REMOVE_UI` setting.\nAPI always works regardless of UI setting.","operationId":"team-remove_member","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/members/{member_id}/role":{"patch":{"tags":["team"],"summary":"Update member role","description":"Change a team member's role between 'admin' and 'member'.\n\n**Owner only.** Only the team owner can change member roles. Requires active subscription.\n\n**Restrictions:**\n- Cannot change owner's role (must use transfer ownership)\n- Can only change role for ENABLED members (not PENDING or DISABLED)\n- Valid roles: 'admin', 'member'","operationId":"team-update_member_role","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberRoleUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamMemberResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/leave":{"post":{"tags":["team"],"summary":"Leave the team","description":"Leave the team voluntarily. Member only (Admin cannot leave).\n\n**Note**: Frontend UI visibility controlled by `SHOW_TEAM_LEAVE_REMOVE_UI` setting.\nAPI always works regardless of UI setting.","operationId":"team-leave_team","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/team/invites/my-pending":{"get":{"tags":["team"],"summary":"Get my pending team invitations","description":"Get all pending team invitations for the current authenticated user.\n\nThis endpoint should be called after login to check if user has any\npending invitations that require confirmation.","operationId":"team-get_my_pending_invites","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PendingInvitesResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/team/invites/{team_id}/accept":{"post":{"tags":["team"],"summary":"Accept team invitation","description":"Accept a pending team invitation and become an active member.\n\nAfter accepting:\n- TeamMember status changes from 'pending' to 'enabled'\n- User's team_id and team_role are set\n- User gains access to team resources","operationId":"team-accept_team_invite","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/invites/{team_id}/decline":{"post":{"tags":["team"],"summary":"Decline team invitation","description":"Decline a pending team invitation.\n\nAfter declining:\n- TeamMember record is deleted\n- Seat is released back to the team\n- User remains without team membership","operationId":"team-decline_team_invite","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/members/{member_id}/cancel-invite":{"post":{"tags":["team"],"summary":"Cancel pending invitation","description":"Cancel a pending invitation and release the seat.\n\n**Admin only.** Can only cancel PENDING invitations. Requires active subscription.","operationId":"team-cancel_invitation","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/members/{member_id}/resend-invite":{"post":{"tags":["team"],"summary":"Resend invitation email","description":"Resend invitation email and reset the expiry timer.\n\n**Admin only.** Can only resend PENDING invitations. Requires active subscription.\nRate limited: 24 hours between resends.","operationId":"team-resend_invitation","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/activity-log":{"get":{"tags":["team"],"summary":"Get team activity log","description":"Get activity logs for the team. **Requires team Admin or Owner role**.\n\nActivity logs track team-related events like member invitations, role changes,\nand member departures. Logs are sorted by creation time (newest first).\n\n**Pagination:**\n- `page`: Page number (1-indexed, default: 1)\n- `page_size`: Items per page (1-100, default: 20)\n\n**Filtering:**\n- `activity_type`: Filter by activity type (optional)\n  - `invite` - All invitation-related activities\n  - `member` - Member management (enable/disable/remove/leave)\n  - `role` - Role changes and ownership transfer\n  - `file` - File operations (upload/delete/move/rename/copy)\n  - `folder` - Folder operations (create/delete/rename/move)\n  - `auth` - Authentication events (signup/login)\n- `actor_email`: Filter by who performed the action OR target (optional)\n- `date_from`: Filter activities from this date (ISO format, optional)\n- `date_to`: Filter activities until this date (ISO format, optional)\n\n**Activity Types:**\n\n*Team Management:*\n- `team.member_invite` - New member invited\n- `team.invite_accept` - Member accepted invitation\n- `team.invite_decline` - Member declined invitation\n- `team.invite_expired` - Invitation expired (system event)\n- `team.invite_cancelled` - Admin cancelled invitation\n- `team.invite_resend` - Admin resent invitation\n- `team.member_enable` - Member access enabled\n- `team.member_disable` - Member access disabled\n- `team.member_remove` - Member removed by admin\n- `team.member_leave` - Member left voluntarily\n- `team.role_change` - Member role changed\n- `team.ownership_transfer` - Ownership transferred\n\n*File Operations:*\n- `file.upload` - File uploaded to team space\n- `file.delete` - File deleted from team space\n- `file.move` - File moved within team space\n- `file.rename` - File renamed\n- `file.copy` - File copied from team to personal space\n\n*Folder Operations:*\n- `folder.create` - Folder created in team space\n- `folder.delete` - Folder deleted from team space\n- `folder.rename` - Folder renamed\n- `folder.move` - Folder moved within team space\n\n*Authentication:*\n- `user.signup` - Member created account\n- `user.login` - Member signed in\n\n**System Events:**\n- For automated events (like invitation expiry), `actor_email` is \"system\"","operationId":"team-get_team_activity_log","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Page Size"}},{"name":"activity_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Activity Type"}},{"name":"actor_email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Actor Email"}},{"name":"date_from","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Date From"}},{"name":"date_to","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Date To"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActivityLogListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/teamspaces/{team_id}/acl/policies:batch_upsert":{"post":{"tags":["team"],"summary":"Batch Upsert Team Acl Policies","operationId":"team-batch_upsert_team_acl_policies","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AclPolicyBatchUpsertRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AclPolicyBatchUpsertResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/teamspaces/{team_id}/acl/policies":{"get":{"tags":["team"],"summary":"List Team Acl Policies","operationId":"team-list_team_acl_policies","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"ptype","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Ptype"}},{"name":"subject","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subject"}},{"name":"role","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Role"}},{"name":"user_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"}},{"name":"object_prefix","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Object Prefix"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AclPolicyListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/api-keys":{"get":{"tags":["team"],"summary":"List Team Api Keys","operationId":"team-list_team_api_keys","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiKeyListResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["team"],"summary":"Create Team Api Key","operationId":"team-create_team_api_key","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamApiKeyCreateResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/team/api-keys/{key_id}":{"delete":{"tags":["team"],"summary":"Delete Team Api Key","operationId":"team-delete_team_api_key","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"title":"Response Team-Delete Team Api Key"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/team/storage":{"get":{"tags":["team-folder"],"summary":"Get Team Storage","description":"Get team storage usage details.","operationId":"team-folder-get_team_storage","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamStorageResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/files/copy":{"post":{"tags":["team-folder"],"summary":"Copy File","description":"Copy a file from Team Space to Personal Space.","operationId":"team-folder-copy_file","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCopyRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewFile"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/smart-organizers/":{"get":{"tags":["smart-organizers"],"summary":"List Smart Organizers","operationId":"smart-organizers-list_smart_organizers","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerListResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]},"post":{"tags":["smart-organizers"],"summary":"Create Smart Organizer","description":"Create a new smart organizer.","operationId":"smart-organizers-create_smart_organizer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerCreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerPublic"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}]}},"/api/v1/smart-organizers/{smart_organizer_id}/jobs/active":{"get":{"tags":["smart-organizers"],"summary":"Get Active Job Summary","operationId":"smart-organizers-get_active_job_summary","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerActiveJobResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/jobs/cancel":{"post":{"tags":["smart-organizers"],"summary":"Cancel Job","operationId":"smart-organizers-cancel_job","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerCancelJobRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerCancelJobResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/generate":{"post":{"tags":["smart-organizers"],"summary":"Generate Editable Tree","description":"Async generate: enqueue background job and return job_id immediately.","operationId":"smart-organizers-generate_editable_tree","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateTreeRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateJobAckResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/apply":{"post":{"tags":["smart-organizers"],"summary":"Apply Assignments","description":"Phase 2 (Apply): enqueue background job for file assignments based on the finalized tree.","operationId":"smart-organizers-apply_assignments","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SmartOrganizerApplyAssignmentsRequest"},{"type":"null"}],"title":"Payload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateJobAckResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/materialize":{"post":{"tags":["smart-organizers"],"summary":"Materialize To Directory Tree","description":"Materialize: create/reuse Directory subtree and update file_directory_mapping (async).","operationId":"smart-organizers-materialize_to_directory_tree","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateJobAckResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/toolbar-state":{"get":{"tags":["smart-organizers"],"summary":"Get Toolbar State","description":"Return whether the left tree toolbar container (Structure actions + Apply) should be shown.","operationId":"smart-organizers-get_toolbar_state","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerToolbarStateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/apply/retry":{"post":{"tags":["smart-organizers"],"summary":"Retry Apply","description":"Retry a failed apply job. Reuses the same job_id and only reprocesses unfinished batches.","operationId":"smart-organizers-retry_apply","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateRetryRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateRetryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/apply/progress":{"get":{"tags":["smart-organizers"],"summary":"Get Apply Progress","description":"Get apply progress from Redis.","operationId":"smart-organizers-get_apply_progress","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}},{"name":"job_id","in":"query","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Smart-Organizers-Get Apply Progress"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/materialize/status":{"get":{"tags":["smart-organizers"],"summary":"Get Materialize Status","operationId":"smart-organizers-get_materialize_status","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}},{"name":"job_id","in":"query","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateJobStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/materialize/progress":{"get":{"tags":["smart-organizers"],"summary":"Get Materialize Progress","description":"Get materialize progress from Redis (best-effort).","operationId":"smart-organizers-get_materialize_progress","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}},{"name":"job_id","in":"query","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Smart-Organizers-Get Materialize Progress"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/materialize/undo-state":{"get":{"tags":["smart-organizers"],"summary":"Get Materialize Undo State","operationId":"smart-organizers-get_materialize_undo_state","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}},{"name":"job_id","in":"query","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerMaterializeUndoStateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/materialize/undo":{"post":{"tags":["smart-organizers"],"summary":"Undo Materialize","operationId":"smart-organizers-undo_materialize","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerMaterializeUndoRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Smart-Organizers-Undo Materialize"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/generate/status":{"get":{"tags":["smart-organizers"],"summary":"Get Generate Status","operationId":"smart-organizers-get_generate_status","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}},{"name":"job_id","in":"query","required":true,"schema":{"type":"string","title":"Job Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateJobStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}/generate/retry":{"post":{"tags":["smart-organizers"],"summary":"Retry Generate","operationId":"smart-organizers-retry_generate","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateRetryRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerGenerateRetryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/smart-organizers/{smart_organizer_id}":{"put":{"tags":["smart-organizers"],"summary":"Update Smart Organizer","operationId":"smart-organizers-update_smart_organizer","security":[{"OAuth2PasswordBearer":[]},{"PersonalApiKey":[]},{"TeamApiKey":[]}],"parameters":[{"name":"smart_organizer_id","in":"path","required":true,"schema":{"type":"string","title":"Smart Organizer Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmartOrganizerUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/
[...]
